body{
	margin:0px;
	padding:0px;
	overflow-x: hidden;
}

a{
	text-decoration:none;
}

.main{
	width:100%;
	background: #f7f7f7;
}
.mainHeight{
    min-height: 90vh;
}


/*login*/
#login{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#login>form{
	width: max-content;
	height: max-content;
	padding: 50px;
	background-color: #ffffff;
	box-shadow: 5px 5px 5px 5px #888888;
	display: flex;
	flex-direction: column;
}

#login form div{
	margin-bottom: 15px;
}

#login input[type=email], #login input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	box-sizing: border-box;
}

.border-ccc{
	border: 1px solid #ccc;
}


.button{
	background-color: #4CAF50;
  	color: white;
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
  	cursor: pointer;
  	width: 100%;
}

.message span{
	color: red;
	display:none;
}

  

/*----------------------------------------------*/

#profil{
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}


/*HEADER*/
header{
	width:100%;
	background-color: #f7f7f7 ;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
header #header-content{
	width:1300px;
	height:100px;
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

#logout{
	background-color: #4CAF50;
  	color: white;
	padding:8px 20px;
	font-size:16px;
  	border: none;
  	cursor: pointer;
	border-radius: 5px;
}

#logout:hover{
    background-color:red;
	color:white;
	transition:background-color 0.5s ease;
	transition:color 0.5s ease;
}
/*----------------------------------------------*/



/*EMPLOYEE*/
#employee-data{
    padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

#employee-left{
    width: 500px;
    height: 500px;
    display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#employee-img img{
	width: 128px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.1);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#employee-data table{
	background-color:rgba(68, 75, 83, 0.4);
	border-radius: 10px;
	margin:auto;
	padding: 10px;
}

#employee-data table span{
	color:white;
	margin:10px;
	padding-left:10px;
	font-family:georgia;
	font-size:22px;
}

#employee-data table tr td{
	padding: 10px;
}


#employee-msg{
    color: red;
    display: none;
}
/*----------------------------------------------*/

/*ADMIN*/
#admin-sel{
    width: 100%;
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#admin-select{
    width: 20%;
    border: 1px solid #ccc;
  	padding: 14px 20px;
  	margin: 8px 0;
  	cursor: pointer;
}

#btnConfirmChoice{
    margin-left:20px;
    width: 20%;
}

/*----------------------------------------------*/